/* Common */
html {
    height: 100%;
}

body {
    min-height: 100%;
    margin:0;
    position:relative;
    background-color: #D7E2E0;
}

body::after {
    content:'';
    display:block;
    height:50px;
}

a:hover {
    text-decoration: none;
}

.content {
    padding-top: 180px;
    padding-bottom: 15px;
    background-color: #ffffff;
    /*border: 1px solid black;*/
}

.sectors {
    /*border: 1px solid green;*/
}

/* Navigation bar */
.navstyle {
    background-color: #222222;
    border-color: #080808;
    height: 130px;
    transition: height 0.5s;
}

.navstyle-small {
    background-color: #222222;
    border-color: #080808;
    height: 65px;
    transition: height 0.5s;
}

.logo {
    max-width: 200px;
    max-height:200px;
    padding-top: 16px;
    transition: all 0.5s;
}

.logo-small {
    max-width: 100px;
    max-height:100px;
    padding-top: 8px;
    transition: all 0.5s;
}

.navlink-container {
    padding-top: 40px;
    transition: all 0.5s;
}

.navlink-container-small {
    padding-top: 5px;
    transition: all 0.5s;
}

.navlink {
    font-size: 24px;
    color: #CCAF3D;
    transition: all 0.5s;
}

.navlink:hover, .navlink:focus {
    /*color: #222222;
    background-color: #CCAF3D !important;*/
    color: #ccaf3d;
    background-color: #222222 !important;
    border: 1px solid #ccaf3d !important;
    text-decoration: none;
}

.navlink-small {
    font-size: 18px;
    color: #CCAF3D;
    transition: all 0.5s;
}

.navlink-small:hover, .navlink-small:focus {
    color: #222222;
    background-color: #CCAF3D !important;
}

.dropdown-main {
    background-color: #222222;
}

.dropdown-item {
    color: #ccaf3d !important;
    font-size: 20px;
}

.dropdown-item:hover, .dropdown-item:focus, .dropdown-item:active {
    color: #222222 !important;
    background-color: #ccaf3d !important;
    background-image: none !important;
}

.dropdown-item-small {
    color: #ccaf3d !important;
    font-size: 14px;
}

.dropdown-item-small:hover, .dropdown-item-small:focus, .dropdown-item-small:active {
    color: #222222 !important;
    background-color: #ccaf3d !important;
    background-image: none !important;
}

.dropdown-collapsible {

}

.gray {
    background-color: #9d9d9d;
}

.collapsed {
 display: none;
}

.collapse-button {
    padding-top: 45px;
    padding-right: 10px;
    border: none;
    color: #ccaf3d;
    background-color: #222222;
    transition: 0.5s all;
}

.collapse-button:focus {
    outline: none;
}

.collapse-button-small {
    padding-top: 17px;
    padding-right: 10px;
    border: none;
    color: #ccaf3d;
    background-color: #222222;
    transition: 0.5s all;
}

.collapse-button-small:focus {
    outline: none;
}

.vertical {
    padding-top: 130px;
    background-color: #222222;
    list-style-type: none;
    margin: 0;
    transition: 0.5s all;
}

.vertical-small {
    padding-top: 65px;
    background-color: #222222;
    list-style-type: none;
    margin: 0;
    transition: 0.5s all;
}

.navlink-vertical {
    font-size: 24px;
    color: #CCAF3D;
    width: 100%;
    transition: all 0.5s;
}

.navlink-vertical:hover, .navlink-vertical:focus {
    /*color: #222222;
    background-color: #CCAF3D !important;*/
    color: #ccaf3d;
    background-color: #222222 !important;
    border: 1px solid #ccaf3d !important;
    text-decoration: none;
}

.navlink-vertical-small {
    font-size: 18px;
    color: #CCAF3D;
    transition: all 0.5s;
}

.navlink-vertical-small:hover, .navlink-vertical-small:focus {
    color: #222222;
    background-color: #CCAF3D !important;
}

.vertical-menu {
    border: 1px solid #ccaf3d;
    list-style: none;
    padding: 0px 10px 0px 10px;
}

.vertical-menu>li>a{
    width: 100%;
}

.vertical-menu>li>a:hover{
    background-color: #ccaf3d;
    color: #222222;
    background-color: #CCAF3D !important;
}

/* Footer */
.footer {
    width: 100%;
    height: 50px;
    background-color: #222222;
    border-color: #080808;
    color: #ccaf3d;
    position:absolute;
    bottom:0;

}

.footer-container {
    text-align: center;
    padding-top: 12px;
}

.footer-text {
    padding-top: 4px;
}

.social-links {
    transition: color 0.5s;
    color: #ccaf3d;
    padding-left: 10px;
}

.social-facebook:hover {
    color: #4267b2;
}

.social-linkedin:hover {
    color: #283e4a;
}

.social-twitter:hover {
    color: #1da1f2;
}

/* Home page*/
.profile-pic {
    max-width: 100%;
    max-height: 100%;
}

.home-content-wrapper {
    display: flex;
    justify-content: center;
}

.home-content {
    max-width: 860px;
}

.home-img {
    max-width: 100%;
    max-height:100%;
}

.about-img {
    max-width: 50%;
    max-height: 50%;
}

.home-backgroundcolor {
    background-color: #ffffff;
}

.banner {
    display: flex;
    justify-content: center;
}

/* About page*/
.banner-vertical {
    max-width: 100%;
    max-height: 100%;
    padding-top: 15px;
}

.banner-img {
    max-width: 100%;
    max-height: 100%;
}

.banner-first {
    padding-top: 65px; !important
}

.about-stamp {
    max-width:100%;
}

/* Work with page */
.contact-button {
    color: #222222;
    background-color: #ffffff;
    border: 1px solid #222222;
    border-radius: 6px;
    width: 140px;
    height: 40px;
    font-size: 18px;
    padding-top: 5px;
    margin-left: 10px;
}

.contact-button:hover {
    color: #ffffff;
    background-color: #222222;
}
.contact-button:focus {
    outline: 0;
}

.contact-button-success:focus {
    outline: 0;
    box-shadow: 0 0 8pt 2pt green;
}

.contact-button-fail:focus {
    outline: 0;
    box-shadow: 0 0 8pt 2pt red;
}

.contact-field {
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 0;
    background-color: lightgray;
}

.contact-field:hover, .contact-field:active, .contact-field:focus {
    border: 0;
    outline: 0;
}

.contact-message {
    min-height: 100px;
    width: 100%;
    padding: 10px;
    border: 0;
    background-color: lightgray;
}

.contact-message:hover, .contact-message:active, .contact-message:focus {
    border: 0;
    outline: 0;
}

/* Capture page */

.capture-page-content {
    margin-top: 50px;
    padding-top: 50px;
    margin-bottom: 10px;
    padding-bottom: 50px;
}

.capture-page-content-inner {
    max-width: 960px;
    margin: 0 auto;
}

.capture-page-img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}

.capture-page-arrow {
    max-width: 100%;
    width: 216px;
    height:124px;
    margin-top: 40px;
}

.capture-page-profile {
    padding-top: 40px;
    max-width: 260px;
    max-height: 100%;
    margin: auto;
    display: block;
}

.capture-page-button {
    border: none;
background-color: white;

}

.capture-page-li {
    color: #42f448;
}

.font-capturepage-01 {
    color:#c22019;
    font-size: 36px;
    letter-spacing:-1px;
    font-family:"Bitter",sans-serif;
    font-weight: 700;
    text-align: center;
    font-weight: bold;
}

.font-capturepage-02 {
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    color: #616161;
    text-align: center;
    line-height: 26px;
    font-family: "Bitter",sans-serif;
    margin-top: 30px;
    margin-bottom: 20px;
}

.font-capturepage-03 {
    font-size: 20px;
    color: #c22019;
    text-align: left;
    line-height: 1.1em;
    font-family: "Bitter",sans-serif;
    margin-bottom: 10px;
    font-weight: 700;
}

.font-capturepage-04 {
    font-size: 17px;
    font-style: normal;
    font-weight: normal;
    font-family: "Raleway",sans-serif;
    color: #444;
    line-height: 1.6em;
    min-height: 26px;
    text-align: left;
    margin-bottom: 12px;
}

.font-capturepage-05 {
    font-size: 16px;
    font-weight: bold;
    color: #383838;
    line-height: 22px;
    text-align: center;
    font-family: "Raleway",sans-serif;
    margin-top: 25px;
}

/* The Modal (background) */
.capture-page-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 750px;
}

.capture-page-modal-form {
    max-width: 634px;
    margin: 0 auto;
}

.capture-page-modal-button {
    border-top: 1px solid #f9d0a0;
    padding: 14px 20px;
    border-radius: 8px;
    display: block;
    white-space: normal;
    background: #f39d13;
    background: -webkit-linear-gradient(top, #f39d13 0, #c64f01 100%);
    background: linear-gradient(to bottom,#f39d13 0,#c64f01 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f39d13', endColorstr='#c64f01', GradientType=0);
    border-radius: 8px;
    padding: 0;
    margin: 14px 0 10px;
    display: block;
    width: 100%;
    border: 3px solid #f0f0f0;
    border: 1px solid #c94f00;
    text-shadow: 0 1px #bf1802;
    font-size: 20px;
    color: #fff;
    height: 50px;
    width: 100%;
    max-width: 420px;
    text-align: center;
}

.capture-page-modal-input {
    border-radius: 5px;
    border: 3px solid #e9e9e9;
    padding: 10px 25px 10px 25px;
    background: none;
    color: #666666;
    font-family: Lato;
    height: auto;
    font-size: 22px;
    width: 100%;
}

.capture-page-modal-input-error {
    border: 3px solid red;
}

.capture-page-modal-img {
    max-width: 100%;
}

.capture-page-modal-center-div {
    max-width: 420px;
    margin: 0 auto;
}

.modal-notif-text {
    padding-top: 5px;
    padding-left: 30px;
    margin: 0;
}

.font-modal-01 {
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #000000;
}

.font-modal-02 {
    color: #bf080a;
    font-size: 33px;
    margin-bottom: 14px;
    font-weight: 700;
    line-height: 1.1em;
    font-family: "Bitter",sans-serif;
}

/* Letter page */

.letter-content {
    padding-top: 50px;
    padding-bottom: 15px;
    background-color: #ffffff;
    /*border: 1px solid black;*/
}

.letter-center {
    text-align: center;
}

.letter-orange {
    color: orange;
}

.letter-blue {
    color: #0b5de2;
}

.letter-body::after {
    height: 0px;
}

/* Blog page */

.blog-container {
}

.blog-container-inner {
    margin: 0 auto;
    max-width: 734px;
}

.blog-divider {
    margin-top: 25px;
    padding-top: 25px;
    border-top: solid 10px #D7E2E0;
}

.blog-header {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 33px;
    padding-bottom: 10px;
}

.blog-text {
    font-family: Raleway;
    font-weight: 500;
    font-size: 17px;
    padding-bottom: 7px;
}

.blog-image-center {
    width: 100%;
    padding-bottom: 20px;
}

.blog-image-inline {
    width: 50%;
    float: right;
    padding-left: 10px;
}

.blog-subtitle {
    color: #999;
    font-family: "Open Sans";
    font-size: 15px;
}

.blog-quote {
    font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 500;
    font-size: 17px;
    border-left: 5px solid #fec500;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    font-style: italic;
    font-weight: bold;
}

.blog-link {
    color: #2aabd2;
}

.blogs-title {
    font-size: 52px;
    text-align: center;
    padding-bottom: 30px;
    font-family: Montserrat;
}

.remove-link {
    text-decoration: none;
    color: black;
}

.remove-link-text {
    color: #333;
}
/* Fonts */

.font-red {
    color:#991010;
}

.font-brightred {
    color:#c22019;
}

.font-yellow {
    color: #ff9212;
}

.font-blue {
    color: #305584;
}

.font-gray {
    color: #666666;
}

.font-lightgray {
    color: #9d9d9d;
}

.font-green {
    color: green;
}

.font-bold {
    font-weight: bold;
}

.font-italic {
    font-style: italic;
}

.font-underline {
    text-decoration: underline;
}
.font-size-14 {
    font-size:19px;
}

.font-size-18 {
    font-size:24px;
}

.font-size-26 {
    font-size:35px;
}

.font-size-px-14 {
    font-size: 14px;
}

.font-size-px-18 {
    font-size: 18px;
}

.font-size-px-20 {
    font-size: 20px;
}

.font-size-px-22 {
    font-size: 22px;
}

.font-size-px-30 {
    font-size: 30px;
}

.font-size-px-36 {
    font-size: 36px;
}

.font-size-px-40 {
    font-size: 40px;
}

.font-size-px-45 {
    font-size: 45px;
}

.font-center {
    text-align: center;
}

.font-timesnewroman {
    font-family: "Times New Roman";
}

.font-raleway {
    font-family: Raleway;
}

.font-lato {
    font-family: Lato;
}

.font-opensans {
    font-family: "Open Sans";
}
 /* Asea */

.capture-page-button-msz {
    background: #E99600;
    background-image: -webkit-linear-gradient(top, #E99600, #F77802);
    background-image: -moz-linear-gradient(top, #E99600, #F77802);
    background-image: -ms-linear-gradient(top, #E99600, #F77802);
    background-image: -o-linear-gradient(top, #E99600, #F77802);
    background-image: linear-gradient(to bottom, #E99600, #F77802);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 2px 2px 0px #666666;
    -webkit-box-shadow: 0px 2px 2px #666666;
    -moz-box-shadow: 0px 2px 2px #666666;
    box-shadow: 0px 2px 2px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 34px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border-color: #ffffff;
    width: 100%;
}

.capture-page-button-msz:hover {
    background: #ff6600;
    background-image: -webkit-linear-gradient(top, #ff6600, #ff6600);
    background-image: -moz-linear-gradient(top, #ff6600, #ff6600);
    background-image: -ms-linear-gradient(top, #ff6600, #ff6600);
    background-image: -o-linear-gradient(top, #ff6600, #ff6600);
    background-image: linear-gradient(to bottom, #ff6600, #ff6600);
    text-decoration: none;
    border-color: #ffffff;
}